.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.ColorSquare {
    border: 3px black solid;
    border-radius: 10px;
    height: 45vh;
    width: 45vh;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.3);
}

.colorName {
    font-size: xx-large;
    height: 1em;
    margin-bottom: 0.5rem;
}

.InputColor {
    width: 45vh;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 0.5rem;
}

.inputLabel {
    font-size: large;
}

.inputForm::placeholder {
    text-align: center;
}

.inputForm {
    text-align: center;
}
